/* *, .v-application .v-card .headline {
    line-height: normal;
} */

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

blockquote {
    border-left: .25em solid #dfe2e5;
    color: #6a737d;
    padding-left: 1em;
    margin: 20px 0!important;
}